<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html">
	<title>Beer Search</title>
	<link type="text/css" rel="stylesheet" href="styles.css">
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
	<header>
		<h1>Beer Search</h1>
	</header>

	<div id="content">
		<form id="beer-search" method="get" accept-charset="utf-8">
			<input type="text" class="search" name="q" placeholder="Search for a beer.">
		</form>
		<div id="results">
		</div>
	</div>

	<footer>
		<p>Powered by <a href="http://brewerydb.com" target="_blank">BreweryDB</a>
	</footer>
</body>
</html>